
.mainHeader {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgb(105, 150, 182);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
}

h3 {
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 2px black;
}
