
.card{
    text-align: center;
    margin: 0rem 2rem
}

.card p {
    font-size: 2rem;
    color: white;
}

.temperatureStyle {
    text-align: center;
    margin: 0rem 2rem;
    
}

.temperatureStyle p {
    color: white;
    font-size: 2rem;
}



.elementWrapper {
    margin: 3rem auto 0rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.9rem;
    width: 100%;
    border: 1px solid black;
}

.elementWrapper div {
    /* border: 1px solid black; */
    width: 25rem;
}

/* Drop Down styles in wrapper */

.elementWrapper .flexedColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin-top: 3rem;
}
.flexedColumn .drop-down {
    margin: 1rem 0rem;
}
.flexedColumn .mainBtn {
    margin: 3rem 0rem 0rem 0rem;
}

.elementWrapper .drop-down {
    background-color: lightblue;
    width: 40rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.2rem;
}
.drop-down label {
    font-size: 1.8rem;
    color: white;
    text-shadow: 2px 2px 2px #333;
    margin-right: 1rem;
    vertical-align: middle;

}

.drop-down select {
    width: 15rem;
    height: 2.2rem;
    font-size: 1.2rem;
    color: #333;
    border-radius: 0.5rem;
    vertical-align: middle;
    cursor: pointer;
    background: lightblue;
    border: 1px solid black;
}

.drop-down select:hover {
    border: 1px solid darkgreen;
}

/* button Styles in wrapper  */


.mainBtn {
    background-color: lightgreen;
    border: 0.1rem solid white;
    font-size: 2rem;
    font-weight: bold;
    width: 14rem;
    height: auto;
    border-radius: 0.2rem;
    padding: 0.2rem;
    color: darkgreen;
    cursor: pointer;


}

.mainBtn:hover,
.mainBtn:focus {
    color: white;
    background-color: darkgreen;
    outline: none;
}

@media(max-width:30em ) {
    .elementWrapper {
        flex-direction: column;
        margin: 0rem 0rem;
        width: 100%;
        border: none;
        
    }
    .elementWrapper .drop-down {
        width: 25rem;
        flex-direction: column;

    }
    .elementWrapper div {
        width: 100%;
    }
    .card {
        margin: 0rem;
    }
    
    label,select{
        
        margin: 1rem 0rem;
    }
}

