.card
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px;
    border: none;
    outline: 2px solid gray;
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
}