.btn
{
    width: 100%;
    background: white;
    border: none;
    outline: 3px solid white;
    padding: 5px 0;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover
{
    color: white;
    outline: none;
}