.main 
{
    margin-top: 3rem;
    margin-left: 13.5rem;
    outline: 2px solid black;
    max-width: 80rem;
    /* outline: 3px solid white; */
    padding: 1rem 10px;
    padding-bottom: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    
}